/* Dodatni stilovi */
html {
	position: relative;
	min-height: 100%;
}

body {
	background: url(../slike/airplane.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100%;
}

/* Navigacija */
.centered-nav {
	flex: 1;
}

.navbar-dark {
	background: rgb(58, 50, 105)
}

.nav-link {
	font-size: 22px;
}

/* Sadrzaj */
.glavni-sadrzaj {
	height: 100%;
}

.card-header {
	font-size: 22px;
}

.clickable-row {
	cursor: pointer;
}

.clickable-row:hover {
	background-color: rgba(146, 26, 255, 0.3) !important;
	transition: 0.2s ease-in;
}

/* Footer */
.footer {
	background: rgb(58, 50, 105);
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.btnIzmeni {
	padding: 0px 20px;
	font-size: 19px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: 11px;

}

.btnIzmeni:hover{
	background-color:rgb(97, 88, 150);
}

.btnSacuvaj {
	padding: 0px 20px;
	font-size: 19px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: 11px;
	margin-top: 10px;
}

.btnSacuvaj:hover{
	background-color:rgb(97, 88, 150);
}
  
h1 {
	margin: 0 auto;
	color: whitesmoke;
	cursor: pointer;
	text-shadow: 2px 2px rgb(58, 50, 105);
}

h2 {
	text-align: center;
	color: whitesmoke;
	cursor: pointer;
	text-shadow: 2px 2px rgb(58, 50, 105);
}

h4{
	
	padding: 5px;
	color: white;
	text-shadow: 0ch;
	background-color: rgb(58, 50, 105);
	font-size: 1.8rem;
	margin-bottom: 15px;
	margin-top: 180px;
	border-radius: .35rem;
}

.form-control {
	
	border: 1.5px solid rgb(58, 50, 105);
	cursor: pointer;
	border-radius: .35rem;
	margin-top: 5px;
	
}

.btnDalje {
	padding: 5px 20px;
	font-size: 19px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: .35rem;
	margin-top: 30px;
}

h5 {
	margin-top: 120px;
	color: white;
	font-size: 1.8rem;
	background-color: rgb(58, 50, 105);
	border-radius: .35rem;
	padding: 3px;
}

h6 {
	padding: 3px;
	color: white;
	text-shadow: 0ch;
	background-color: rgb(58, 50, 105);
	font-size: 1.8rem;
	margin-bottom: 15px;
	margin-top: 45px;
	border-radius: .35rem;
}

h7 {
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	background-color: rgb(58, 50, 105);
	font-size: 1.5rem;
	text-align: center;
	border-radius: .35rem;
}

.prikaz-sedista {
	max-width: 700px;
	background: #fff;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
}

.zauzeto label {
	color: #ff2004;
	font-weight: bold;
}

.slobodno label {
	color: #12ff05;
	font-weight: bold;
}

.btnDaljeSedista {
	padding: 5px 20px;
	font-size: 19px;
	cursor: pointer;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: .35rem;
	margin-top: 15px;
	margin-left: 712px;
}

.card-header {
	background-color: rgb(58, 50, 105);
	color: white;
}

dt {
	color: rgb(58, 50, 105);
}

.btnKarta {
	padding: 5px 20px;
	font-size: 21px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: 8px;
	margin-top: 0px;
}

.btnOdustani {
	padding: 0px 10px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: 8px;
	margin-top: 0px;
	margin-left: 142px;
}

.btn-primary {
	background-color: rgb(58, 50, 105);
	border-color: rgb(58, 50, 105);
	
}

.btn-primary:hover {
	background-color: rgb(97, 88, 150);
	border-color: rgb(58, 50, 105);
}

.btnDodajLet {
	padding: 5px 15px;
	font-size: 21px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(58, 50, 105);
	border: none;
	border-radius: 5px;	
	margin-left: 89%;
}

.btnDodajLet:hover {
	background-color: rgb(97, 88, 150);
	border-color: rgb(58, 50, 105);
}
